- var results_line = (results_ready ? "'results'," : "")
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content=meta_desc)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{short_title}
    link(rel='stylesheet', href='css/jquery.fullPage.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/default.css')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.fullPage.min.js')
    script.
      $(document).ready(function() {
        $('#fullpage').fullpage({
          navigation: true,
          responsiveWidth: 768,
          bigSectionsDestination: top,
          anchors: [
            'introduction',
            #{results_line}
            'description',
            'accommodation',
            'program',
            'venue',
            'footer']
        });
        var $regnow = $('#regnow');
        if ($regnow) {
          var scrollFunc = function() {
            var distToBottom = $(document).height() - $(window).scrollTop() - $(window).height();
            var regnowDistToBottom = $(window).height() + $(window).scrollTop() - $regnow.offset().top;
            if (distToBottom < 1.5 * regnowDistToBottom) {
              $regnow.css({ opacity: distToBottom / (1.5 * regnowDistToBottom) });
            } else {
              $regnow.css({ opacity: 1 });
            }
          }
          $(window).scroll(scrollFunc);
          $(window).resize(function() {
            if ($(document).height() == $(window).height()) {
              $regnow.css({ opacity : 1 });
            } else {
               scrollFunc();
            }
          });
        }
      });
  body
    div#fullpage
      div.section.text-center.white-text.flame-orange
        include includes/section_1_intro.pug
      if results_ready
        div.section.text-center.white-text.solar-orange
          include includes/section_1a_results.pug
      div.section.white-text.eco-green
        include includes/section_2_description.pug
      div.section.white-text.space-blue
        include includes/section_3_accomodation.pug
      div.section.black-text.seedling-green
        include includes/section_4_program.pug
      div.section.white-text.solar-orange
        include includes/section_5_venue.pug
      div.section.white-text.solar-orange.fp-auto-height.footer
        div.container.text-right
          span Designed by Omer Ozarslan (c) 2017-2020,&nbsp;
            a(href="https://github.com/ozars/texsaw-website-dev",
            target='_blank') Open Source!
    if reg_enabled
      div.bottom-fixed
        a#regnow.btn.btn-default.btn-lg(href=reg_link, target='_blank').
          Register Now
