div.container
  div.col-md-12.text-center.bigger-text
    i.fa.fa-calendar
  div.col-md-12
    p.headline We are excited to offer our #{long_title} (#{short_title}) event.
    p This year’s event will again target students who are interested in pursuing computer security. Students will be exposed to security concepts which will expand their knowledge of cyber security and broaden their career opportunities.
    p Students will have the opportunity to:
    ul
      li Meet students interested in cyber security from UT Dallas as well as other universities and colleges in Texas.
      li Attend workshops on #{weekDays[0]}, #{months[0]} #{daysth[0]}, to develop fundamental hands-on skills in the cyber security topics of web security, cryptography and ethical hacking/exploitation.
      li Hear a guest presentation from a leading industry expert.
      li Put newly-learned skills to use in a cyber security competition on #{weekDays[1]}, #{months[1]} #{daysth[1]}. Graduate students are welcome to compete in the competition but they will not qualify for prizes.
