div.container.animated.fadeInDown
  //- div.col-md-12
  //-   img.texsaw-logo(src='logo.png')
  div.col-md-12
    h1 #{long_title}
  div.col-md-12
    h4 #{weekDays[0]} and #{weekDays[1]}, #{months[0]} #{daysth[0]}-#{daysth[1]}, #{year}
  div.col-md-12.pad-before.bootstrap-side-padding-fix
    div.col-md-6.col-xs-12.bootstrap-side-padding-fix
      div.col-md-12
        h5 Organized by
      div.col-md-12.bootstrap-side-padding-fix
        img.ecs-logo(src='ecs_logo.png')
    div.col-md-6.col-xs-12
      div.col-md-12
        h5 Sustaining Sponsor
      div.col-md-12.bootstrap-side-padding-fix
        img.sf-logo(src='state_farm_logo.png')
        div.sf-note State Farm and the State Farm logo are registered trademarks of<br />State Farm Mutual Automobile Insurance Company.
    //- div.col-md-12.col-xs-12
    //-   span.
    //-     <br />Registration will be open soon!
    //-     <br />Accommodation grant applications
    //-     are <a href="#accommodation">open</a>!
