div.container.animated.fadeInDown
  //- div.col-md-12
  //-   img.texsaw-logo(src='logo.png')
  div.col-md-12
    h1 #{long_title}
  div.col-md-12
    h4 #{weekDays[0]} and #{weekDays[1]}, #{months[0]} #{daysth[0]}-#{daysth[1]}, #{year}
  div.col-md-12.pad-before.bootstrap-side-padding-fix
    div.col-md-12.col-xs-12.bootstrap-side-padding-fix
      div.col-md-12
        h5 Organized by
      div.col-md-12.bootstrap-side-padding-fix
        img.ecs-logo(src='ecs_logo.png')
    div.col-md-12.col-xs-12
      div.col-md-12
        h5 Presenting sponsor
      div.col-md-12.bootstrap-side-padding-fix
        p TBA
        //- img.sf-logo(src='state_farm_logo.png')
        //- div.sf-note State Farm and the State Farm logo are registered trademarks of<br />State Farm Mutual Automobile Insurance Company.
