div.container
  div.col-md-12.text-center.bigger-text
    i.fa.fa-calendar
  div.col-md-12
    p.headline We are excited to offer our #{long_title} (#{short_title}) event.
    p.text-center.
      Due to COVID-19 restrictions, #{short_title} will consist of a 48-hrs
      online capture-the-flag competition that will take place in <nobr>#{months[0]}
      #{days[0]}-#{days[1]}, #{year}.</nobr>  The competition is geared toward
      beginners in cybersecurity and students are suggested to form 2-3 people
      teams to participate in the competition.  The main topics for the
      competition will include (1) web security, (2) penetration testing, (3)
      forensics, (4) crypto, and (5) others. Below are links to some suggested
      online material for reviewing basics topics in these topic areas and
      students are encouraged to go over this material to prepare themselves
      for the competition.
